.header{
    
    .custom-shape-divider-top-1636063611 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .header__titulo{
        font-size: 2rem;
        font-weight: 900;
        margin-left: 0.8rem;
    }
        .header__mail{
            font-size: 0.9rem;
            margin-left: 1rem;
        }
    }
